.main {
  background-color: #161516;
  color: #fff;
  width: 95vw;
 
}

.container {
  width: 1300px;
  margin: 0 auto;
  
}
 .header {
  margin-bottom: 80px;
  margin: 0px 0px 0px 15px;
  padding: 20px 0px 0px 0px;
 }
.menu {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  width: 95vw;
  row-gap: 35px;
  column-gap: 35px;
  margin: 0 auto;
}

.menu .card {
  width: 312px;
}